## **1. StandardScaler**

In [3]:
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import load_iris
import pandas as pd

In [7]:
iris = load_iris()
iris_data = pd.DataFrame(iris.data, columns=iris.feature_names)

In [8]:
iris_data

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [9]:
scaler = StandardScaler()
scaler.fit(iris_data)
iris_scaled = scaler.transform(iris_data)

In [14]:
pd.DataFrame(iris_scaled)

            0         1         2         3
0   -0.900681  1.019004 -1.340227 -1.315444
1   -1.143017 -0.131979 -1.340227 -1.315444
2   -1.385353  0.328414 -1.397064 -1.315444
3   -1.506521  0.098217 -1.283389 -1.315444
4   -1.021849  1.249201 -1.340227 -1.315444
..        ...       ...       ...       ...
145  1.038005 -0.131979  0.819596  1.448832
146  0.553333 -1.282963  0.705921  0.922303
147  0.795669 -0.131979  0.819596  1.053935
148  0.432165  0.788808  0.933271  1.448832
149  0.068662 -0.131979  0.762758  0.790671

[150 rows x 4 columns]

## **2. MinMaxScaler**

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [16]:
scaler = MinMaxScaler()
scaler.fit(iris_data)
iris_scaled = scaler.transform(iris_data)

In [17]:
pd.DataFrame(iris_scaled)

            0         1         2         3
0    0.222222  0.625000  0.067797  0.041667
1    0.166667  0.416667  0.067797  0.041667
2    0.111111  0.500000  0.050847  0.041667
3    0.083333  0.458333  0.084746  0.041667
4    0.194444  0.666667  0.067797  0.041667
..        ...       ...       ...       ...
145  0.666667  0.416667  0.711864  0.916667
146  0.555556  0.208333  0.677966  0.750000
147  0.611111  0.416667  0.711864  0.791667
148  0.527778  0.583333  0.745763  0.916667
149  0.444444  0.416667  0.694915  0.708333

[150 rows x 4 columns]

## **3. RobustScaler**

In [18]:
from sklearn.preprocessing import RobustScaler

In [19]:
scaler = RobustScaler()
scaler.fit(iris_data)
iris_scaled = scaler.transform(iris_data)

In [20]:
pd.DataFrame(iris_scaled)

            0    1         2         3
0   -0.538462  1.0 -0.842857 -0.733333
1   -0.692308  0.0 -0.842857 -0.733333
2   -0.846154  0.4 -0.871429 -0.733333
3   -0.923077  0.2 -0.814286 -0.733333
4   -0.615385  1.2 -0.842857 -0.733333
..        ...  ...       ...       ...
145  0.692308  0.0  0.242857  0.666667
146  0.384615 -1.0  0.185714  0.400000
147  0.538462  0.0  0.242857  0.466667
148  0.307692  0.8  0.300000  0.666667
149  0.076923  0.0  0.214286  0.333333

[150 rows x 4 columns]